{% extends 'layout.html' %}
{% block content %}
<!-- form start -->
<form method="POST" action="" class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" id="changer">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary" id="btna">Change Text</button>
</form>

<script src="{{ url_for('static',filename='main.js') }}"></script>
<!-- form ends -->
{% endblock %}