<!doctype html>
<html lang="en">

<head>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/glyph-neue/64/FFFFFF/checkmark.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jquery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- sidebar css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='layout.css' ) }}">

    <title>TO-DO</title>
</head>

<body>
    <!-- sidebar start -->

    <nav class="vertical-menu-wrapper">
        <div class="vertical-menu-logo">
            <div>LOGO</div>
            <span class="open-menu-btn">
                <hr>
                <hr>
                <hr>
            </span>
        </div>
        <ul class="vertical-menu">
            <li>Schedule</li>
            <li>Event</li>
            <hr />
            <li>Setting</li>
            <li>Privacy</li>
            <li id="user-info">
                {% if email %}
                {{email}}
                {% else %}
                <a href="{{ url_for('login' ) }}">Login</a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <div class="content-wrapper">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </div>
    <!-- sidebar ends -->


</body>

<!-- bootstrap script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous"></script>

<!-- sidebar script -->
<script>
    $('.open-menu-btn').on('click', function () {
        if ($('body').hasClass('closed-menu')) {
            $('body').removeClass('closed-menu');
        } else $('body').addClass('closed-menu');
    });
</script>

{% block script %}

{% endblock %}

</html>