{% extends 'layout.html' %}
{% block content %}
<h3 class="container">Update</h3>
<!-- form start -->
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="container mt-4">
        <div class="mb-3">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control-lg",placeholder = todo_data.title) }}

        </div>
        {{ form.submit(class="btn btn-primary")}}
    </div>
</form>
<!-- form ends -->
{% endblock content %}