{% extends 'layout.html' %}
{% block content %}
<h3 class="container mt-5">Update</h3>
<!-- form start -->
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="container mt-4">
        <div class="mb-3">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control-lg",placeholder = todo_data.title) }}

        </div>
        {{ form.submit(class="btn btn-primary")}}
        <a href="{{url_for('delete',todo_id=todo_data.id)}}">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
    </div>
</form>
<!-- form ends -->
{% endblock content %}